name: tests

on:
  push:
    branches: [ master ]

jobs:
  coverage:
    runs-on: ubuntu-latest
    container:
      image: perldocker/perl-tester:5.32
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get dependencies
        run: >
          cpanm -n
          Expect IO::Tty NetAddr::IP::Util Regexp::IPv6
          Devel::Cover Devel::Cover::Report::Coveralls
      - name: Calc coverage
        env:
          HARNESS_PERL_SWITCHES: -MDevel::Cover=-ignore,^x?t/,-blib,0
        run: prove
      - name: Upload to Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cover -report Coveralls
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.x
      - name: Calc coverage
        run: >
          go test
          -coverpkg $(go list ../...|grep /pkg/|paste -sd,)
          -covermode=count
          -coverprofile=coverage.out
        working-directory: go/test
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@v1.0.8
        with:
          working-directory: go/test
