name: tests

on:
  push:
    branches: [ master ]

jobs:
  coverage:
    runs-on: ubuntu-latest
    container:
      image: perldocker/perl-tester:5.32
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get dependencies
        run: |
          cpanm --notest Dist::Zilla::Plugin::Run::BeforeBuild
          dzil authordeps --missing | cpanm --notest
          cpanm --notest Code::TidyAll::Plugin::PerlCritic Perl::Critic
          dzil listdeps --author --missing | cpanm --notest
          cpanm -n Devel::Cover Devel::Cover::Report::Coveralls
      - name: Calc coverage
        env:
          HARNESS_PERL_SWITCHES: -MDevel::Cover=-ignore,^x?t/,-blib,0
        run: prove
      - name: Upload to Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cover -report Coveralls
